@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: "PT Serif", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}
a {
  text-decoration: none;
}
code {
  font-family: "PT Serif", serif;
}
pre {
  font-family: "PT Serif", serif;
}
blockquote {
  font-family: "PT Serif", serif;
}

/* Color code */
/* #1A1D2B */
/* #363F7D */
